/* have to write styles to style the currently selected route component differently... */

/* have to find a way to make the .css file as a separate file and not a part of index.html by using internal styling... */

/* i will put the loading component in places where we are waiting for repsonse and for that we will create a separate Loading component... */

/* the main issue may be because the componentWillMount() is called and then render(), and then componentDidMount(), so that can be an issue, or maybe we are changing state in some way that we are unable to see, to we have to figure it out... */

/* so the main bug is render() getting invoked twice, and it is causing issues with both the Home and Players component, we need to fix it... */

* {
  margin-right: 0px;
  margin-left: 0px;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;

  font-family: sans-serif;
}

body {
  /* border: 2px solid dodgerblue; */
  padding: 5px;
}

/* styles for the header and its children */
#header-nav {
  border-bottom: 2px solid purple;
}

#header-nav > ul {
  list-style-type: none;
  padding: 0px;

  /* flex-container part */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  align-items: center;
  justify-content: space-around;
}

.nav-item {
  
}

.nav-item > a {

  border-radius: 5px;
  text-decoration: none;
  font-style: italic;

  padding: 5px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);

  transition: all ease-in-out 300ms;
}

.nav-item>a:hover,
.nav-item>a:active{
  box-shadow: 0px 5px 5px rgb(20, 71, 139);
  transform: translate(0px, -10px);
}

/* styles for the main element and its children */

/* styles for the home element and its children */
#home {
  /* flex-container part */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  align-items: center;
  justify-content: center;
}

#home > h1 {
  text-align: center;

  font-size: 1.5em;
  font-weight: 500;
}

#home > h3 {
  font-size: 1.2em;
  font-weight: 200;
}

#team-logos{
  /* flex-container part */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
}

.team-logo {
  width: 50px;
  margin-right: 10px;
}

/* styles for players and its children */

#players {
  /* border: 2px solid dodgerblue; */

  /* flex-container part */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  align-items: center;
  justify-content: center;
}

/* style for an individual player component and its children */
.player {
  /* border: 5px solid red; */
  margin: 15px auto 5px;
  background-color: whitesmoke;

  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4),
    0px -5px 5px -5px rgba(0, 0, 0, 0.4), 5px 0px 5px -5px rgba(0, 0, 0, 0.4),
    -5px 0px 5px -5px rgba(0, 0, 0, 0.4);

  /* border: 2px solid grey; */
  border-radius: 5px;
  transition: all ease-in-out 300ms;

  min-width: 280px;
  max-width: 300px;

  /* flex-container part */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  justify-content: center;
  align-items: center;
}

.player:hover {
  box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2),
    0px -5px 5px -5px rgba(0, 0, 0, 0.4), 5px 0px 5px -5px rgba(0, 0, 0, 0.4),
    -5px 0px 5px -5px rgba(0, 0, 0, 0.4);
  transform: translate(0px, -10px);
}

.avatar {
  width: 100px;
  height: 100px;

  border-radius: 50px;
}

.player-name {
  font-weight: 500;
  font-size: 1.5em;

  margin: 2px auto;
}

.player-number {
  font-size: 1.3em;
  font-weight: 800;

  margin: 2px auto;
}

/* unordered list for player info */
.player-info {
  padding: 0px;
  list-style-type: none;

  min-width: 300px;
  width: 100%;

  /* flex-container part */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: space-around;
  align-items: center;
}

.player-info > li {
  text-align: center;

  font-size: 1.2em;
  font-weight: 100;
}

/* unorderd list for the player stats */
.player-stats {
  padding: 0px;
  list-style-type: none;

  /* flex-container part */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: space-around;
  align-items: center;

  min-width: 300px;
  width: 100%;
  /* border: 2px solid yellow; */
}

.player-stats > li {
  display: inline-block;
  /* border: 2px solid green; */
}

.player-stats-topic {
  font-size: 1.2em;
  font-weight: 100;
}

.player-stats-data {
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
}
/* styles for sidebar and its children */

#sidebar-div {
  /* border: 2px solid red; */
}

#sidebar-heading {
  text-align: center;

  font-style: italic;
  font-weight: 700;
}

#sidebar-list {
  padding: 0px;
  list-style-type: none;
}

#sidebar-list > li {
  margin: 4px auto;
}

#sidebar-list > li > a,
#sidebar-list > li > a:hover,
#sidebar-list > li > a:visited,
#sidebar-list > li > a:active {
  text-decoration: none;
  color: darkslategrey;
}

/* teams component and its children */
#teams{
  /* border: 2px solid orange;m */
  
  /* flex-container part */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  justify-content: center;
  align-items: center;
}