/* have to write styles to style the currently selected route component differently... */

/* have to find a way to make the .css file as a separate file and not a part of index.html by using internal styling... */

/* i will put the loading component in places where we are waiting for repsonse and for that we will create a separate Loading component... */

/* the main issue may be because the componentWillMount() is called and then render(), and then componentDidMount(), so that can be an issue, or maybe we are changing state in some way that we are unable to see, to we have to figure it out... */

/* so the main bug is render() getting invoked twice, and it is causing issues with both the Home and Players component, we need to fix it... */

*{
  margin-right: 0px;
  margin-left: 0px;
  box-sizing: border-box;
}

body, html{
  width: 100%;
  height: 100%;
  margin: 0;

  font-family: sans-serif;
}

body{
  /* border: 2px solid dodgerblue; */
  padding: 5px;
}

/* styles for the header and its children */
#header-nav{
  border-bottom: 2px solid purple;
}

#header-nav>ul{
  list-style-type: none;
  padding: 0px;

  /* flex-container part */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  align-items: center;
  justify-content: space-around;

}

.nav-item{
  
}

.nav-item>a{
  text-decoration: none;
  font-style: italic;
}


/* styles for the main element and its children */


/* styles for the home element and its children */
#home{

  /* flex-container part */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  align-items: center;
  justify-content: center;

}

#home>h1{
  text-align: center;

  font-size: 1.5em;
  font-weight: 500;
}

#home>h3{
  font-size: 1.2em;
  font-weight: 200;
}

#teams{

  /* flex-container part */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;

}

.team-logo{
  width: 50px;
  margin-right: 10px;;
}

/* styles for players and its children */

#players{
  /* border: 2px solid dodgerblue; */

  /* flex-container part */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  align-items: center;
  justify-content: center;
}


/* styles for sidebar and its children */

#sidebar-div{
  /* border: 2px solid red; */
}

#sidebar-heading{
  text-align: center;

  font-style: italic;
  font-weight: 700;
}

#sidebar-list{
  padding: 0px;
  list-style-type: none;
}

#sidebar-list>li{
  margin: 4px auto;
}

#sidebar-list>li>a,
#sidebar-list>li>a:hover,
#sidebar-list>li>a:visited,
#sidebar-list>li>a:active{
  text-decoration: none;
  color: darkslategrey;
}